body
{
    padding: 10px 30px 10px 30px;
}

span
{
    color: gray;
}

img
{
    height: 200px;
    width: 150px;
}

header
{
    padding: 10px 60px 10px 60px;
    margin: 0 auto;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}